<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/general.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
    >
    </script>

  </head>

  <body>
    <header>
      <nav>
        <div class="background">
          <div class="logo">
            BNPL.Co
            <img
              src="/img/mobile-shopping.png"
              alt="logo"
              width="40"
              height="40"
            />
          </div>
          <p>Business</p>
          <p>How it Works</p>
          <p>Get the App</p>
          <form>
            <div>
              <input
                type="search"
                placeholder="  Search brands, products and stores!"
              />
            </div>
            <button>Log In</button>
            <button>Sign Up</button>
          </form>
        </div>
        <div class="sub-nav">
          <p class="rank"><img
              src="/img/hot-deal.png"
              alt="hot"
              width="35"
              height="35"
            />
            <a class="top100" href="/v1/top100">Top 100</a>
          </p>
          <p class="rank"><img
              src="/img/stethoscope.png"
              alt="health"
              width="35"
              height="32"
            />
            <a class="health-service" href="/v1/health-service">Health Service</a>
          </p>
          <p class="rank"><img
              src="/img/park.png"
              alt="recreation"
              width="35"
              height="35"
            />
            <a
              class="recreational-goods"
              href="/v1/recreational-goods"
            >Recreational Goods</a>
          </p>
          <p class="rank"><img
              src="/img/furniture.png"
              alt="personal and household"
              width="35"
              height="35"
            />
            <a class="personal-household" href="/v1/personal-household">Personal
              &amp; Household</a>
          </p>
          <p class="rank"><img
              src="/img/digital.png"
              alt="tech and machine"
              width="35"
              height="35"
            />
            <a
              class="technical-machinery"
              href="/v1/technical-machinery"
            >Technical &amp; Machinery</a>
          </p>
        </div>

      </nav>
    </header>

    {{{body}}}

  </body>
  <script src="/general.js"></script>
</html>