<main>
  {{#each top100}}
    <div>
      1
      <div>
        {{this.name}}
        {{this.tags}}
        {{this.revenue_level}}
        {{this.take_rate}}
      </div>
      OVERALL SCORE HEART ICON
    </div>
  {{/each}}
</main>