* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background: linear-gradient(to bottom, white 12%, #d2daff86);
}

body {
  /* width: 80%; */
  margin: auto;
  /* background-color: #eef1ffce; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  border: rgb(0, 0, 0) solid 0.2rem;
  color: #1f1f1f;
  border-radius: 20px;
  height: 150px;
  font-size: 17px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 80%;
  margin: auto;
  margin-top: 32px;
}

.background {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(177, 178, 255);
  border-radius: 20px;
  height: 80;
}

.logo {
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

.logo-icon {
  font-size: 38px;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

input[type="search"] {
  height: 4rem;
  width: 30rem;
  padding: 1rem 0 1rem 30px;
  color: #707070;
  border: 1px solid transparent;
  border-radius: 2.4rem;
  display: block;
  background: white
    url("data:image/svg+xml,%3Csvg class='svg-icon search-icon' aria-labelledby='title desc' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.9 19.7'%3E%3Ctitle id='title'%3ESearch Icon%3C/title%3E%3Cdesc id='desc'%3EA magnifying glass icon.%3C/desc%3E%3Cg class='search-path' fill='none' stroke='%23848F91'%3E%3Cpath stroke-linecap='square' d='M18.5 18.3l-5.4-5.4'/%3E%3Ccircle cx='8' cy='8' r='7'/%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
  background-size: 25px 25px;
  font-size: 12px;
  background-position-x: 1rem;
  background-position-y: 0.6rem;
}

button {
  border: none;
  background-color: black;
  color: #eef1ff;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  padding: 5px 8px;
}

.sub-nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  font-size: 15px;
}

.rank {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rank a {
  padding: 5px;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  -webkit-transition: all 0.3s ease-out;
}

a:hover {
  text-shadow: 0 1px 5px #7070705e;
  background-color: rgb(177, 178, 255);
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in;
}

.selected {
  background-color: #b1b2ff;
  border-radius: 8px;
}

/**************************
MAIN
**************************/
main {
  font-size: 14px;
  margin-top: 32px;
  position: relative;
}

table {
  border-collapse: separate;
  width: 75%;
  border-spacing: 0 16px;
  z-index: 1;
  margin: auto;
}

td {
  text-align: center;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

progress {
  border: 0;
  width: 100px;
  height: 12px;
  border-radius: 12px;
}

progress::-webkit-progress-bar {
  border: 1px solid #707070;
  height: 12px;
  border-radius: 12px;
  background-color: white;
}

progress::-webkit-progress-value {
  border: 0;
  height: 12px;
  border-radius: 12px;
  background: #1c3879a4;
}

progress::-moz-progress-bar {
  border: 0;
  height: 12px;
  border-radius: 12px;
}

span {
  margin-left: 20px;
  font-weight: 600;
}

.columns {
  margin-top: 12px;
  font-size: 14px;
  background-color: #aac4ff98;
  height: 42px;
}

.card {
  height: 58px;
  margin: 12px 0;
  background-color: #d2daff86;
  -webkit-transition: all 0.3s ease-out;
  cursor: pointer;
}

.card:hover {
  scale: 1.02;
  -webkit-transition: all 0.3s ease-in;
}

.select-merchant {
  background-color: #bfcafb;
}

tr {
  position: relative;
}

.add {
  position: absolute;
  right: 200px;
}

/********************************
CHARTS
********************************/
.chart {
  position: relative;
  z-index: 2;
  position: absolute;
  width: 1100px !important;
  height: 640px !important;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 2px 2px 2px #9899f95e;
  background-color: #bfcafb4b;
  border-radius: 24px;
  padding: 15px;
}

canvas {
  height: 100%;
  width: 100%;
  margin-top: 12px;
  opacity: 1;
}

.btn {
  right: 15px;
  top: 10px;
  position: absolute;
  width: 20px;
}

.btn:hover {
  scale: 1.1;
}

.overlay-shade {
  z-index: 1;
  background: linear-gradient(to bottom, white, #d2daff);
}

.hide {
  display: none;
}

.chart-btn {
  color: black;
  background-color: #d2daff86;
}

/*******************
drop down
*******************/
/* Dropdown Button */
/* .menu {
  display: flex;
  background-color: #b1b2ff;
  border-radius: 12px;
  width: 250px;
  align-items: center;
  margin-top: 12px;
  margin-left: 8px;
  padding: 0 8px;
}

.centre {
  margin: auto;
}

.dropbtn {
  background-color: inherit;
  color: black;
  width: 220px;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Dropdown button on hover & focus */
/* .menu:hover,
.menu:focus {
  background-color: #8c8efc;
} */

/* The container <div> - needed to position the dropdown content */
/* .dropdown {
  position: relative;
  display: inline-block;
} */

/* Dropdown Content (Hidden by Default) */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: #b1b2ff89;
  border-radius: 12px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
} */

/* Links inside the dropdown */
/* .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ddd;
} */

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* .show {
  display: block;
} */
